<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naichuan.mapper.SysLoginMapper">

    <resultMap id="BaseResultMap" type="com.naichuan.entity.SysLogin">
            <id property="loginId" column="login_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="wxname" column="wxname" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="CountMap" type="java.util.Map">
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        login_id,username,password,
        email,wxname
    </sql>

    <insert id="addSelective" parameterType="com.naichuan.entity.SysLogin">
        insert into sys_login
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loginId != null">
                login_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="wxname != null">
                wxname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="loginId != null">
                #{loginId,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="wxname != null">
                #{wxname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="addSysLoginRoleSelective" parameterType="java.util.Map">
        insert into sys_login_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="role_id != null">
                role_id,
            </if>
            <if test="login_id != null">
                login_id,
            </if>
            <if test="username != null">
                username,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="role_id != null">
                #{role_id,jdbcType=INTEGER},
            </if>
            <if test="login_id != null">
                #{login_id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectByUsername" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from sys_login
        where username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="countByUsername" resultMap="CountMap" parameterType="string">
        select count(*) as count
        from sys_login
        where username = #{username,jdbcType=INTEGER}
    </select>


</mapper>
